html, body {
    margin: 0px;
    padding: 0px;
    background-color: #440808;
}
span {
    display: inline-block;
    background-image: url("img_blend.png");
    transform: matrix(20, 0, 0, 20, 0, 0);
    position: fixed;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: #9e6363;
}