body {
    background-color: #fafafa;
    font-family: Arial, sans-serif;
    text-align: center;
}

iframe {
    border: 3px solid #ccc;
    height: 60%;
    width: 80%;
    margin: 10px auto;
    display: block;
    border: 2px solid black;
}

#preview {
    border: 2px dashed gray;
    background-color: #f9f9f9;
}